nav a{
    color:#235B81;
}
nav {
    background-image: url('image/lacoste_bg.png');
    border-radius: 2rem;
    font-size: 2rem;
    margin-top: 1.5rem;
}
.nav-item img{
    height:4rem;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
.footer{
    border-radius: 2rem 2rem 0rem 0rem;
}
.card{
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border:0.15rem solid black;
}
.nav-item{
    margin-left: 2.5rem;
}
.nav-item:hover{
    border-bottom: 3px solid rgb(22, 193, 219);
  
}



